[Desktop Entry]
Version=0.1.0
Encoding=UTF-8
Name=mead-r
Comment=morse-encode-and-decode rewrite in Rust programming language.
Exec=mead-r
Terminal=true
Type=Application
Categories=Utility
Icon=${SNAP}/meta/gui/mead-r.png
